@font-face {
  font-family: "DS-Digital";
  src: url("potion/ds-digital-numbers.ttf");
}

.potion {
  aspect-ratio: 1 / 1.5;
  width: 40%;
  max-width: 100%;
  position: relative;
  overflow: hidden;

}

.potion img {
  position: absolute;
  left: -15%;
  top: 0;
  height: 100%;
}
.potion .under {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
}
.potion.in .juice {
  transition: top 2s;
}

.potion div.juice {
  position: absolute;
  height: 100%;
  width: 50%;
  margin-top: 31%;
  margin-left: 25%;
}

.potion .amount {
  font-family: DS-Digital;
  position: absolute;
  right: 18.5%;
  top: 9%;
  color: black;
  font-size: 95%;
  transform: skewY(22deg);
  opacity: 0.7;
}

.juice {
  transition: all 2s ease;
}

.slider {
  width: 50%;
  max-width: calc(100% - 140px);
}

button {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 3px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0;
  width: 160px;
  text-decoration: none;
}
button:hover {
  background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-color: #a20dbd;
}
button:active {
  position: relative;
  top: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 300px;
  font-size: 30px;
  text-align: center;
}
.grid-item iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* dropdown menu */
.dropdown-icon {
  font-size: 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@media (max-width: 600px) {
  .potion .amount {
    font-size: 10.83vw;
  }
}

@media (max-width: 400px) {
  .slider {
    max-width: calc(100% - 100px);
  }
  button {
    font-size: 16px;
    width: 80px;
  }
}
