@font-face {
  font-family: overpass;
  src: url("./assets/Overpass/Overpass-Regular.ttf");
}

.potion {
  aspect-ratio: 1 / 1.5;
  width: 40%;
  max-width: 100%;
  position: relative;
  overflow: hidden;

}

.potion img {
  position: absolute;
  left: -15%;
  top: 0;
  height: 100%;
}
.potion .under {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
}
.potion.in .juice {
  transition: top 2s;
}

.potion div.juice {
  position: absolute;
  height: 100%;
  width: 50%;
  margin-top: 31%;
  margin-left: 25%;
}

.potion .amount {
  font-family: DS-Digital;
  position: absolute;
  right: 18.5%;
  top: 9%;
  color: black;
  font-size: 95%;
  transform: skewY(22deg);
  opacity: 0.7;
}

.juice {
  transition: all 2s ease;
}

.slider {
  width: 50%;
  max-width: calc(100% - 140px);
}

button {
  background: #1caaff;
  border-radius: 15px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
  width: 160px;
  text-decoration: none;
}
button:hover {
  background: #0b88d9;
}
button:active {
  position: relative;
  top: 1px;
}

.ownables-grid {
  background-color: white;
  border-radius: 20px;
  z-index: 10;
}

.ownables-grid h1 {
  color: #0b88d9;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 10px;
  column-gap: 20px;

  padding: 3%;
  box-shadow: 0 0 10px gray;
  border-radius: 15px;
}

.grid-item {
  border: 1px solid #1caaff;
  font-size: 30px;
  border-radius: 15px;
  grid-column-gap: 1%;
  text-align: center;
  width: 30%;
}

.grid-item iframe {
  border: none;
  /*width: calc(100vh * 4 / 3);*/
  height: 50vh;
}

/* dropdown menu */
.dropdown-icon {
  font-size: 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.instantiate-selection {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {display:block;}

.navbar {
  background: #1caaff;
}
.navbar img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 30vw;
  height: auto;
  padding: 18px 36px;
}

.actions {
  padding: 36px 0;
}

body {
  background-image: url('./assets/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  font-family: overpass, serif;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@media (max-width: 600px) {
  .potion .amount {
    font-size: 10.83vw;
  }
}

@media (max-width: 400px) {
  .slider {
    max-width: calc(100% - 100px);
  }
  button {
    font-size: 16px;
    width: 80px;
  }
}
