name: Ownables SDK Demo

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  ownables:
    strategy:
      matrix:
        package:
          - antenna
          - armor
          - car
          - paint
          - potion
          - robot
          - speakers
    concurrency: ci-${{ github.ref }}-${{ matrix.package }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache Ownable build files
        id: cache-ownables
        uses: actions/cache@v3
        with:
          key: ownables-cargo-${{matrix.package}}
          path: |
            ownables/${{matrix.package}}/Cargo.lock
            ownables/${{matrix.package}}/target
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
      - name: Setup wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
      - name: Build
        env:
          CC: clang
        run: npm run ownables:build --package=${{ matrix.package }}
      - uses: actions/upload-artifact@v3
        with:
          name: "${{matrix.package}}"
          path: "ownables/${{matrix.package}}.zip"

  wallet:
    concurrency: ci-${{ github.ref }}
    needs: ownables
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
      - name: NPM Install
        run: npm ci
      - name: Download Ownables packages
        uses: actions/download-artifact@v3
        with:
          path: ownables
      - name: Copy Ownables packages
        run: |
          mkdir public/ownables
          cp ownables/**/*.zip public/ownables
      - name: Build
        env:
          REACT_APP_OWNABLE_EXAMPLES_URL: /ownables
        run: npm run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
